<a href="https://colab.research.google.com/github/calrose/MidtermDM/blob/main/DataCleaning.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
import pandas as pd
import numpy as np

FlickrData = pd.read_csv('https://github.com/realpython/python-data-cleaning/raw/master/Datasets/BL-Flickr-Images-Book.csv')

FlickrData['Corporate Contributors'].isna().value_counts()

to_drop = ['Former owner', 'Engraver', 'Corporate Author', 'Corporate Contributors', 'Edition Statement']

FlickrData.drop(columns=to_drop, inplace=True)
FlickrData.set_index('Identifier', inplace=True)

regex = r'^(\d{4})'

FlickrDataExtr = FlickrData['Date of Publication'].str.extract(regex, expand=False)

FlickrData['Date of Publication'] = pd.to_numeric(FlickrDataExtr)

FlickerDataPop = FlickrData['Place of Publication']

london = FlickerDataPop.str.contains('London')

oxford = FlickerDataPop.str.contains('Oxford')

FlickrData['Place of Publication'] = np.where(london, 'London', np.where(oxford, 'Oxford', FlickerDataPop.str.replace('-', ' ')))

FlickrData['Place of Publication'].head(10)

Identifier
206     London
216     London
218     London
472     London
480     London
481     London
519     London
667     Oxford
874     London
1143    London
Name: Place of Publication, dtype: object

In [ ]:
import pandas as pd
import numpy as np

university_towns = []

with open('/content/university_towns.txt') as file:
  for line in file:
    if '[edit]' in line:
      state = line
    else:
      university_towns.append((state, line))

university_towns[:5]

towns_df = pd.DataFrame(university_towns, columns=['State', 'RegionName'])

towns_df.head()

#towns_df['State'] = towns_df['State'].str.replace('\[edit\]\\n', '')

def get_citystate(item):
  if ')' in item:
    return item[:item.find(')')+1]
  elif '[' in item:
    return item[:item.find('[')]
  else:
    return item

towns_df = towns_df.applymap(get_citystate)

towns_df.head()

     State                                    RegionName
0  Alabama                    Auburn (Auburn University)
1  Alabama        Florence (University of North Alabama)
2  Alabama  Jacksonville (Jacksonville State University)
3  Alabama       Livingston (University of West Alabama)
4  Alabama         Montevallo (University of Montevallo)